.btn {
  width: 10rem;
  height: 2rem;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-size: $m-size;
  text-decoration: none;
}

.btn--blackText {
  color: #000000;
  text-decoration: underline;
}

.btn--add {
  padding: 1rem 2rem;
  outline: none;
  background-color: $fourth_dark;
  border: none;
  border-radius: 5px;
}

.btn--add:hover {
  background-color: $middle_color;
}

.btn--delete {
  font-size: $s-size;
  padding: 0 2rem;
  outline: none;
  background-color: $fourth_dark;
  border: none;
  border-radius: 5px;
}

.btn--delete:hover {
  background-color: $middle_color;
}

.btn--submit {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: none;
  background: $fourth_dark;
  color: #ffffff;
  padding: 1.5rem;
  border: 0;
}