.container {
  max-width: 60rem;
  height: 100%;
  position: relative;
  padding: 0 $m-size;
}

.container__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: $l-size;
}

.container__header__title {
  margin: 0;
  font-weight: 300;
}

.container__body {
  border-left: 0.1rem solid $middle_color;
  border-right: 0.1rem solid $middle_color;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media (min-width: $desktop-breakpoint) {
  .container {
    margin: 2rem auto;
  }
}