.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form__input {
  background-color: #f2f2f2;
  border: 0;
  margin: 0 0 $m-size;
  padding: $m-size;
  font-size: $m-size;
}

.form__error {
  color: red;
}

.form__select {
  margin-bottom: 0.5rem;
}