.header {
  width: 100%;
  height: 6rem;
  font-family: $roboto;
  background-color: $middle_color;
}

.header__nav {
  max-width: 195rem;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: $s-size;
}

.nav__title {
  font-size: $m-size;
  font-weight: 300;
  color: $lightest;
  text-decoration: none;
}

.nav__title__span {
  color: $darkest;
  font-weight: 600;
}

.nav__ul {
  display: flex;
}

.nav__ul__li {
  list-style: none;
}

.nav__ul__li__link {
  padding: 1rem 0;
  margin: 0 2rem;
  position: relative;
  letter-spacing: 0.2rem;
  color: $lightest;
  text-decoration: none;
}

.nav__ul__li__link:last-child {
  margin-right: 0; 
}

.nav__ul__li__link:hover {
  border-top: $fifth_light 0.1rem solid;
  border-bottom: $fifth_light 0.1rem solid;
}

@media(min-width: $desktop-breakpoint) {
  .header {
    height: 6rem;
  }

  .nav__title {
    font-size: $l-size;
  }
}

