#spans {
  margin: 200px auto;
  width: 250px;
}

#spans span {
  width: 20px;
  height: 30px;
  margin-left: 1px;
  background-color: #ACF;
  display: inline-block;
  transform-style: preserve-3d;
  animation: music 1.5s infinite ease-in-out;
}

#spans pan:nth-of-type(2) {
  animation-delay: 0.2s;
}

#spans span:nth-of-type(3) {
  animation-delay: .4s;
}

#spans span:nth-of-type(4) {
  animation-delay: .6s;
}

#spans span:nth-of-type(5) {
  animation-delay: .8s;
}

#spans span:nth-of-type(6) {
  animation-delay: 1s;
}

#spans span:nth-of-type(7) {
  animation-delay: 1.2s;
}

#spans span:nth-of-type(8) {
  animation-delay: 1.4s;
}

#spans span:nth-of-type(9) {
  animation-delay: 1.6s;
}

#spans span:last-of-type {
  animation-delay: 1.8s;
}

@keyframes music {
  0% {
    height: 50px;
    background-color: #135;
  }

  25% {
    height: 75px;
    transform: translateZ(30px);
    background-color: #963;
  }

  50% {
    height: 100px;
    background-color: #246;
  }

  75% {
    background-color: #135;
  }
}