.input {
  font-size: $m-size;
  padding: 1rem 1rem 1rem 0.5rem;
  display: block;
  width: 20rem;
  text-align: center;
}

.input:focus {
  outline: none;
}

.input--search {
  border: none;
  border-bottom: 1px solid black;
}