//Colors
$darkest: #040370;
$second_dark: #06218A;
$third_dark: #0A4AA3;
$fourth_dark: #0F7BBB;
$middle_color: #14B4D2;
$sixth_light: #31DBD6;
$fifth_light: #4EE3C3;
$fourth_light: #6CEAB8;
$third_light: #8BF0B5;
$second_light: #ABF5BC;
$lightest: #CCFACE;

//Fonts
$roboto: 'Roboto Cn', sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
